<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307838219776-lqhpl9k71t881rr4g6gpkccr01pt4rv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307838219776-lqhpl9k71t881rr4g6gpkccr01pt4rv3</string>
	<key>API_KEY</key>
	<string>AIzaSyCzNImtVOFs67HaN9Bmqfry1ZK1RkglJ94</string>
	<key>GCM_SENDER_ID</key>
	<string>307838219776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.tetoblog</string>
	<key>PROJECT_ID</key>
	<string>test-1f53a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1f53a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307838219776:ios:ce45a923f1d39ea5fbcae5</string>
</dict>
</plist>